---
layout: default
---

<nav>
	<a href="/">ChiBUG</a>:
	<a href="/lists">Mailing Lists</a>:
	{{ page.email }}
</nav>

<p>
<em>{{ page.description }}</em>
</p>

<p>
To subscribe to the list, send a blank e-mail to
&lt;<a href="mailto:{{ page.name }}+subscribe@{{ site.list_domain }}">{{ page.name }}+subscribe@{{ site.list_domain }}</a>&gt;.
<br>
To post to the list once subscribed, send e-mail to
&lt;<a href="mailto:{{ page.name }}@{{ site.list_domain }}">{{ page.name }}@{{ site.list_domain }}</a>&gt;.
<br>
To leave the list, send a blank e-mail to
&lt;<a href="mailto:{{ page.name }}+unsubscribe@{{ site.list_domain }}">{{ page.name }}+unsubscribe@{{ site.list_domain }}</a>&gt;.
<br>
To contact the list administrator with problems/concerns, e-mail
&lt;<a href="mailto:{{ site.list_admin }}">{{ site.list_admin }}</a>&gt;.
</p>
